.book-cards-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .book-card-wrapper {
    margin: 30px;
    width: 400px;
    .book-card-image {
      height: 500px;
    }
    .book-card-button {
      min-width: 150px;
    }
  }
}
