.book-cards-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .book-card-wrapper {
    display: inline-block;
    margin: 50px 50px;
    min-width: 400px;
    .book-card-button {
      min-width: 150px;
    }
  }
}
